<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<!--gọi thyleaf-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--tạo form đăng ký product-->
<div>
    <h1>Register Product</h1>
</div>
<form role="form" method="post"
      th:action="@{/register}" th:object="${product}">
    <div>
        <label >Code:</label>
        <input type="text" id="code" name="code"
               th:field="*{code}"
        />
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               th:field="*{name}"
        />
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"
               th:field="*{price}"
        />
    </div>
    <!--   Decription-->
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"
               th:field="*{description}"
        />
    </div>
    <div>
        <label for="register_date">Register Date:</label>
        <input type="date" id="register_date" name="register_date"
               th:field="*{register_date}"
        />
    </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category"
                   th:field="*{category}"
            />
        </div>
        <div>
            <label>Status:</label>
            <!--       radio button-->
            <input type="radio" name="id_active"
                   th:value="Yes" th:field="*{id_active}"
            />
            <input type="radio" name="id_active"
                   th:value="No" th:field="*{id_active}"
            />
        </div>
        <button type="submit">Register</button>
</form>
</body>
</html>